.sticky-content{
    text-align: initial;
    padding-left: 2%;
    position: sticky;
    top: 12%;
}

.articles{
    text-align: initial;
    flex-shrink: 1.3;
}

.sn{
    display: flex;
    flex-wrap: wrap;
}

.article-desc{
    padding: 0 3%;
}

.links2{
    text-decoration: none;
    color:rgb(107, 107, 107);
    font-size: 12px;
}

.links3{
    text-decoration: none;
    color:rgb(107, 107, 107);
    padding: 2% 5%;
    font-size: 14px;
}
.articledesc{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 2% 0 3%;
    font-size: 15px;
    color:rgb(94, 94, 94);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;



}

.marg{
    margin: 0%;
    font-weight: 700;
}

.button-cat{
    background-color: rgba(242, 242, 242, 1);
    color: rgba(117, 117, 117, 1);
    border: 1px solid black;
    border-radius: 99em;
    padding: 2px 8px 2px;
    font-size: 12px;
    line-height: 20px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:rgb(92, 91, 91);
    padding: 0 1%;
}
.sb{
    display: flex;
    align-items: end;
    margin: 5% 1%;
    padding: 0 5%;
}

.tags{
    display: inline-block;
    border: 1px solid rgba(230, 230, 230, 1);
    padding: 6px 16px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.main{
    display: flex;
    align-items: flex-start;
    padding: 5% 7%;

}