.mlogo , .mlogo2{
    width: auto;
    height: 50px;
}
.mlogo2{display: none;}
.hamb{
    display: none;
}
.resp-menu-2{
    display: none;
}

.stick{
    position: sticky;
    top: 0;
}
.Navbar{
    margin: 0px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFC017;
    padding: 10px 50px 20px ;
    border-bottom: 1px solid black;
    
}

.start{
    background-color: black;
    color: aliceblue;
    border: 1px solid black;
    border-radius: 99em;
    padding: 8px 18px 9px;
    font-size: medium;
}

.links{
    text-decoration: none;
    color:black;
}
.menu{
    padding-top: inherit;
}

.options{
    padding: 0 10px
}

@media only screen and (max-width: 1000px) {
    .hamb{
        display: block;
        width: 40px;
    height: 40px;
    padding: 0 5px;
    top: 0;
    right: 0;
    }
    .sticky-content{
        top:% !important;
    }
    .Navbar{
        width: 100%;
        justify-content: center !important; 
    }
    .menu{
        width: 80%;
    }
    .mlogo{
        display: none;
    }
    .mlogo2{
        display: block;
    }
    .resp-menu{
        display: none;
    }
    .resp-menu-2{
        display: flex;
        flex-direction: column;  
        padding: 2% 0;
    }
    .options{
        width: 100%;
        font-size: x-large;
        padding: 1% 0 !important;
    }
    .responsive{
        display: flex;
        flex-direction: column;
    }

  }