.trends{
    text-align: initial;
    padding: 2% 5%;
    border-bottom: 1px solid black;
    

}

.samp{
    width: 20px;
    height: 20px;
    padding: 0 5px;
}

.trends-content{
    display: flex;
    flex-wrap: wrap;
}

.trend-1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 33%;
    padding: 2% 0;
}

.trend-num{
    color: rgba(230, 230, 230, 1);
    font-weight: 700;
    font-size: 30px;
}

.trend-article{
    padding: 0 5% 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
}